<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ("./common/head.ejs") %>
  <body>
    <div class="holder flex col">
      <main>
        <h1><%=errorMsg%></h1>
      </main>
      <%- include ("./common/footer.ejs") %>
    </div>
  </body>
</html>
